<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the CPAN-212-0NF Course, <%= username %>!</h1>
    <a href="/auth/logout">Logout</a>
    <br>
    <br>
    <a href="/auth/signup">Sign Up</a>
    <br>
    <br>
    <a href="/">Homepage</a>
</body>
</html>